<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adonis.tesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presenter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.MenuActivity"
            android:label="Menu Principal" />
        <activity android:name=".presenter.ListViewActivity" />
        <activity
            android:name=".presenter.AcercaDeActivity"
            android:label="Acerca de" />
        <activity
            android:name=".presenter.AgregarPacienteActivity"
            android:label="Agregar Paciente" />
        <activity
            android:name=".presenter.SignosVitalesActivity"
            android:label="Signos Vitales" />
        <activity
            android:name=".presenter.VerInterconsultaActivity"
            android:label="Información de Consulta" />
        <activity android:name=".presenter.AgregarSignoVitalActivity" />
        <activity android:name=".presenter.RegistrarActivity" />
        <activity android:name=".presenter.AgregarConsultaActivity"></activity>
    </application>

</manifest>